In [1]:
years = list(range(1995,2025))

In [2]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [3]:
years = list(range(1995, 2025))  # 30 years
MAX_REQUESTS = 30

if len(years) > MAX_REQUESTS:
    print(f"Too many requests! Limit is {MAX_REQUESTS}, but you requested {len(years)}.")
else:
    url_start = "https://www.basketball-reference.com/awards/awards_{}.html"
    import requests, time

    for year in years:
        url = url_start.format(year)
        try:
            response = requests.get(url)
            response.raise_for_status()
            with open(f"mvp/{year}.html", "w", encoding="utf-8") as f:
                f.write(response.text)
            print(f"Saved {year}")
            time.sleep(2)
        except requests.exceptions.RequestException as e:
            print(f"Error fetching {year}: {e}")
            time.sleep(10)

Saved 1995
Saved 1996
Saved 1997
Saved 1998
Saved 1999
Saved 2000
Saved 2001
Saved 2002
Saved 2003
Saved 2004
Saved 2005
Saved 2006
Saved 2007
Saved 2008
Saved 2009
Saved 2010
Saved 2011
Saved 2012
Saved 2013
Saved 2014
Saved 2015
Saved 2016
Saved 2017
Saved 2018
Saved 2019
Saved 2020
Saved 2021
Saved 2022
Saved 2023
Saved 2024

In [70]:
from bs4 import BeautifulSoup

In [10]:
with open ("mvp/1995.html",encoding="utf-8") as f:
    page = f.read();

In [71]:
soup = BeautifulSoup(page, "html.parser")

In [72]:
soup.find('tr', class_="over_header").decompose()

AttributeError: 'NoneType' object has no attribute 'decompose'

In [13]:
mvp_table = soup.find(id = "mvp")

In [39]:
import pandas as pd

In [40]:
from io import StringIO
import pandas as pd

# Assuming mvp_table is a string containing your HTML content
mvp_1995 = pd.read_html(StringIO(str(mvp_table)))[0]

NameError: name 'mvp_table' is not defined

In [17]:
mvp_1995

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,David Robinson,29,SAS,73,901,1050,0.858,81,38.0,27.6,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273
1,2,Shaquille O'Neal,22,ORL,12,605,1050,0.576,79,37.0,29.3,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230
2,3,Karl Malone,31,UTA,14,532,1050,0.507,82,38.1,26.7,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212
3,4,Patrick Ewing,32,NYK,2,230,1050,0.219,79,37.0,23.9,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157
4,5,Hakeem Olajuwon,32,HOU,1,147,1050,0.140,72,39.6,27.8,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181
5,6,Charles Barkley,31,PHO,1,96,1050,0.091,68,35.0,23.0,11.1,4.1,1.6,0.7,0.486,0.338,0.748,10.6,0.214
6,7,Scottie Pippen,29,CHI,1,83,1050,0.079,79,38.2,21.4,8.1,5.2,2.9,1.1,0.480,0.345,0.716,11.8,0.188
7,8,John Stockton,32,UTA,1,47,1050,0.045,82,35.0,14.7,3.1,12.3,2.4,0.3,0.542,0.449,0.804,13.9,0.233
8,9,Gary Payton,26,SEA,0,34,1050,0.032,82,36.8,20.6,3.4,7.1,2.5,0.2,0.509,0.302,0.716,11.7,0.187
9,10,Anfernee Hardaway,23,ORL,0,23,1050,0.022,77,37.7,20.9,4.4,7.2,1.7,0.3,0.512,0.349,0.769,10.7,0.177
10,11,Michael Jordan,31,CHI,0,12,1050,0.011,17,39.3,26.9,6.9,5.3,1.8,0.8,0.411,0.500,0.801,2.3,0.167
11,12,Dennis Rodman,33,SAS,0,9,1050,0.009,49,32.0,7.1,16.8,2.0,0.6,0.5,0.571,0.000,0.676,5.8,0.178
12,13,Jason Kidd,21,DAL,0,7,1050,0.007,79,33.8,11.7,5.4,7.7,1.9,0.3,0.385,0.272,0.698,3.7,0.066
13,14,Clyde Drexler,32,TOT,0,3,1050,0.003,76,35.9,21.8,6.3,4.8,1.8,0.6,0.461,0.360,0.824,11.7,0.206
14,15,Cedric Ceballos,25,LAL,0,1,1050,0.001,58,35.0,21.7,8.0,1.8,1.0,0.3,0.509,0.397,0.716,5.2,0.123

In [53]:
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup

dfs = []  # List to hold DataFrames for each year

# Loop through years 1995 to 2024
for year in range(1995, 2025):
    try:
        # Open the HTML file for the given year
        with open(f"mvp/{year}.html", encoding="utf-8") as f:
            page = f.read()
    
        # Parse the HTML content
        soup = BeautifulSoup(page, 'html.parser')
    
        # Find the table with id "mvp"
        mvp_table = soup.find(id="mvp")
        if mvp_table is None:
            print(f"No table found for {year}")
            continue  # Skip this year if table not found

        over_header = soup.find('tr', class_="over_header")
        if over_header:
            over_header.decompose()
    
        # Convert the HTML table to a DataFrame
        df_year = pd.read_html(StringIO(str(mvp_table)))[0]
        df_year["Year"] = year  # Add a column for the year
    
        # Append the DataFrame to our list
        dfs.append(df_year)
        
        print(f"Processed {year}")
    except Exception as e:
        print(f"Error processing {year}: {e}")

# Concatenate all yearly DataFrames into one DataFrame named 'mvps'
mvps = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
print(mvps.head())

Processed 1995
Processed 1996
Processed 1997
Processed 1998
Processed 1999
Processed 2000
Processed 2001
Processed 2002
Processed 2003
Processed 2004
Processed 2005
Processed 2006
Processed 2007
Processed 2008
Processed 2009
Processed 2010
Processed 2011
Processed 2012
Processed 2013
Processed 2014
Processed 2015
Processed 2016
Processed 2017
Processed 2018
Processed 2019
Processed 2020
Processed 2021
Processed 2022
Processed 2023
Processed 2024
  Rank            Player  Age   Tm  First  Pts Won  Pts Max  Share   G    MP  \
0    1    David Robinson   29  SAS     73      901     1050  0.858  81  38.0
1    2  Shaquille O'Neal   22  ORL     12      605     1050  0.576  79  37.0
2    3       Karl Malone   31  UTA     14      532     1050  0.507  82  38.1
3    4     Patrick Ewing   32  NYK      2      230     1050  0.219  79  37.0
4    5   Hakeem Olajuwon   32  HOU      1      147     1050  0.140  72  39.6

   ...   TRB  AST  STL  BLK    FG%    3P%    FT%    WS  WS/48  Year
0  ...  10.8  2.9  1.7  3.2  0.530  0.300  0.774  17.5  0.273  1995
1  ...  11.4  2.7  0.9  2.4  0.583  0.000  0.533  14.0  0.230  1995
2  ...  10.6  3.5  1.6  1.0  0.536  0.268  0.742  13.8  0.212  1995
3  ...  11.0  2.7  0.9  2.0  0.503  0.286  0.750   9.6  0.157  1995
4  ...  10.8  3.5  1.8  3.4  0.517  0.188  0.756  10.7  0.181  1995

[5 rows x 21 columns]

In [54]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,David Robinson,29,SAS,73,901,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
1,2,Shaquille O'Neal,22,ORL,12,605,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1995
2,3,Karl Malone,31,UTA,14,532,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1995
3,4,Patrick Ewing,32,NYK,2,230,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1995
4,5,Hakeem Olajuwon,32,HOU,1,147,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1995

In [56]:
mvps.to_csv("mvps.csv")

In [61]:
from selenium import webdriver

In [23]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

In [7]:
import requests

In [22]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html" 
url = player_stats_url.format(1995)
data = requests.get(url)

In [16]:
import time 

year = 1995 
url = player_stats_url.format(year)
driver.get(url) 
driver.execute_script("window.scrollTo(1,10000)") 
time.sleep(2) 

html = driver.page_source

In [18]:
with open("player/{}.html".format(year), "w+", encoding="utf-8") as f: 
    f.write(html)

In [24]:
years = list(range(1995, 2025))  # 30 years
MAX_REQUESTS = 30

if len(years) > MAX_REQUESTS:
    print(f"Too many requests! Limit is {MAX_REQUESTS}, but you requested {len(years)}.")
else:
    player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html" 
    import requests, time

    for year in years: 
        url = player_stats_url.format(year)
        driver.get(url) 
        driver.execute_script("window.scrollTo(1,10000)") 
        time.sleep(2) 
        
        html = driver.page_source
        with open("player/{}.html".format(year), "w+", encoding="utf-8") as f: 
            f.write(html)

In [49]:
dfs = [] 
for year in years: 
    with open ("player/{}.html".format(year), encoding="utf-8" ) as f: 
        page= f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    thread_row = soup.find('tr', class_="thread")
    if thread_row:
        thread_row.decompose()
    player_table = soup.find(id="per_game_stats") 
    player = pd.read_html(StringIO(str(player_table)))[0]
    player["Year"] = year 
    dfs.append(player)

In [50]:
player = pd.concat(dfs)

In [52]:
player

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,1,Shaquille O'Neal,22,ORL,C,79,79,37.0,11.8,20.2,...,7.3,11.4,2.7,0.9,2.4,2.6,3.3,29.3,"MVP-2,AS,NBA2",1995
1,2,Hakeem Olajuwon,32,HOU,C,72,72,39.6,11.1,21.5,...,8.4,10.8,3.5,1.8,3.4,3.3,3.5,27.8,"MVP-5,DPOY-3,AS,NBA3",1995
2,3,David Robinson,29,SAS,C,81,81,38.0,9.7,18.4,...,7.9,10.8,2.9,1.7,3.2,2.9,2.8,27.6,"MVP-1,DPOY-4,AS,NBA1",1995
3,4,Michael Jordan,31,CHI,SG,17,17,39.3,9.8,23.8,...,5.4,6.9,5.3,1.8,0.8,2.1,2.8,26.9,MVP-11,1995
4,5,Karl Malone,31,UTA,PF,82,82,38.1,10.1,18.9,...,8.7,10.6,3.5,1.6,1.0,2.9,3.3,26.7,"MVP-3,AS,NBA1",1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,569,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
768,570,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
769,571,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
770,572,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
771,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [54]:
player.to_csv("players.csv")

In [57]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [63]:
year = 1995
years = list(range(1995, 2025))  # 30 years
MAX_REQUESTS = 30

if len(years) > MAX_REQUESTS:
    print(f"Too many requests! Limit is {MAX_REQUESTS}, but you requested {len(years)}.")
else:
    for year in years: 
        url = team_stats_url.format(year) 
        data = requests.get(url) 
        with open ("team/{}.html".format(year), "w+", encoding="utf-8") as f: 
            f.write(data.text)

In [87]:
year = 1995 
dfs = []
for year in years: 
    with open ("team/{}.html".format(year), encoding ="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, "html.parser")
    thread_row = soup.find('tr', class_='thread')
    if thread_row:
        thread_row.decompose()
    team_table = soup.find(id="divs_standings_E")
    team = pd.read_html(StringIO(str(team_table)))[0]
    team["Year"] = year 
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)
    
    soup = BeautifulSoup(page, "html.parser")
    if thread_row:
        thread_row.decompose()
    team_table = soup.find(id="divs_standings_W")
    team = pd.read_html(StringIO(str(team_table)))[0]
    team["Year"] = year 
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [88]:
team = pd.concat(dfs)

In [89]:
team.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  50  32  .610     —  117.9  115.6   2.30  2024      Dallas Mavericks*
14  49  33  .598   1.0  115.1  110.7   4.46  2024  New Orleans Pelicans*
15  41  41  .500   9.0  114.3  113.2   1.24  2024        Houston Rockets
16  27  55  .329  23.0  105.8  112.8  -6.57  2024      Memphis Grizzlies
17  22  60  .268  28.0  112.1  118.6  -5.80  2024      San Antonio Spurs

In [90]:
team.to_csv("teams.csv")